@{
    ViewData["Title"] = "Organization List";
}

@section Styles{
    <link href="~/lib/gijgo/combined/css/gijgo.min.css" rel="stylesheet" />
}

<div id="orgTree"></div>



@section Scripts{
    <script type="text/javascript" src="~/lib/gijgo/combined/js/gijgo.min.js" ></script>
    <script type="text/javascript" src="~/js/organization/list.js" asp-append-version="true"></script>
}