@{
    ViewData["Title"] = "MasterCard Task List";
}

@section Styles{
    @{await Html.RenderPartialAsync("_DataTableStyles"); }
}
<div class="row">
    <div class="col-12">
        <h4 class="text-primary">MasterCard Task List</h4>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div>
            <table id="MCTaskList" class="table table-striped table-bordered dt-responsive nowrap w-100">
                <thead class="bg-primary text-light">
                    <tr>
                        <th>Id</th>
                        <th></th>
                        <th>Reference ID</th>
                        <th>Name</th>
                        <th>Inquiry Name</th>
                        <th>Task Run At</th>
                        <th>Source</th>
                        <th>Job Created At</th>
                        <th>Result</th>
                        <th>Error Source</th>
                        <th>Error Code</th>
                        <th>State</th>
                        <th>Reference Key</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableScripts"); }
    <script type="text/javascript" src="~/js/mastercard/taskList.js" asp-append-version="true"></script>
}
