
@{
    ViewData["Title"] = "Unauthorize";
}

    <div class="jumbotron">
        <h2 class="display-4 text-danger">Oops, You don't have sufficient permission to view this page</h2>
        <hr />
        <p class="lead">
            Please contact administrator
        </p>
    </div>

