<div class="alert-container fixed-top m-2">
    <div id="alert-box" class="alert alert-danger alert-dismissible d-none" role="alert">
        <div></div>
        <button type="button" class="close" onclick="app.alert.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
